.container {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

input {
  padding: 10px;
  margin: 8px;
  width: 80%;
}

button {
  padding: 8px 12px;
  margin-top: 5px;
  cursor: pointer;
}

.book-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.book-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}
